<!DOCTYPE html>
<html>
<head>
  <title>EmberCliRailsAssets</title>
  <%= stylesheet_link_tag    "ember_cli_rails_assets/application", media: "all" %>
  <%= javascript_include_tag "ember_cli_rails_assets/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
